@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");

*,
*:before,
*:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   --clr-400: #181818;
   --clr-300: #202226;
   --clr-200: #1f2125;
   --clr-100: #212224;
   --primary-400: #23597e;
   --fontColor: #b1b1b1;
   --mainFont: "Open Sans", sans-serif;
   background-color: var(--clr-400);
   font-family: var(--mainFont);
   color: var(--fontColor);
}
